body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.progress-container {
    margin: 50px auto;
    width: 80%;
    background-color: #ccc;
    border-radius: 10px;
    overflow: hidden;
}
.progress-bar {
    height: 30px;
    background-color: #333;
    position: relative;
}
.progress-bar-fill {
    height: 100%;
    background-color: #ffd700;
    display: block;
    animation: fill-progress-bar 5s cubic-bezier(.25, .46, .45, .94) forwards;
}
.progress-text {
    font-size: 18px;
    padding: 10px;
    text-align: center;
}
.donation-section {
    margin: 50px auto;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}
h2 {
    color: #333;
}
form {
    display: inline-block;
}
label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}
input[type="number"] {
    height: 30px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: none;
}
button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
button[type="submit"]:hover {
    background-color: #ffd700;
    color: #333;
}
@keyframes fill-progress-bar {
    from { width: 0; }
    to { width: 100%; }
}
