<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Blog</title>

    <link rel="stylesheet" href="/public/css/blog.css">
    <link rel="stylesheet" href="/public/css/navBarAndFotter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div id="banner">
        <button id="Donete" onclick="location.href='/views/donete.html';" >Donate</button>
          <nav id="myNav">
            <div class="logo">
              <a href="#"><img class="logoImage" src="/public/images/logo2-removebg.png" alt=""></a>
             </div>
            <div class="menu">
              <ul>
                <li class="nav-list active"><a href="../index.html">Home</a></li>
                <li class="nav-list"><a href="/views/about.html">About</a></li>
                <li class="nav-list"><a href="/views/gallary.html">Gallary</a></li>
                <li class="nav-list"><a href="/views/blog.html">Our Blog</a></li>
                <li class="nav-list"><a href="/views/involveIn.html">Get Involved</a></li>
                <li class="nav-list"><a href="/views/#newsletter">Contact</a></li>
              </ul>
            </div>
          </nav>
          <div id="description">
          </div>
        </div>
        <br><br>
<section class="post post-container">
    <div class="post-box">
        <img src="/public/images/gallary/vol5.jfif" alt="">
        <h2 class="post-title">Our 10<sup>th</sup> year anversary!</h2>
       
        <span class="post-date">21 feb 2019</span>
        <p class="post-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, commodi corrupti optio possimus odit reiciendis rem distinctio tempora blanditiis reprehenderit id quae aut? Repudiandae adipisci aliquam, non unde tempora velit.</p>
        <button class="read-more-button"> <a href="/views/readmore.html">
            read more
        </a></button>
    </div>
    <div class="post-box">
        <img src="/public/images/gallary/vol1.jpg" alt="">
        <h2 class="post-title">Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
       
        <span class="post-date">21 feb 2019</span>
        <p class="post-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, commodi corrupti optio possimus odit reiciendis rem distinctio tempora blanditiis reprehenderit id quae aut? Repudiandae adipisci aliquam, non unde tempora velit.</p>
       
        <button class="read-more-button"> <a href="/views/readmore.html">
            Read More
        </a></button>
    </div>
   
    <div class="post-box">
        <img src="/public/images/gallary/impact1.jfif" alt="">
        <h2 class="post-title">Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
       
        <span class="post-date">21 feb 2019</span>
        <p class="post-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, commodi corrupti optio possimus odit reiciendis rem distinctio tempora blanditiis reprehenderit id quae aut? Repudiandae adipisci aliquam, non unde tempora velit.</p>
       
        <button class="read-more-button"> <a href="/views/readmore.html">
            read more
        </a></button>
      
    </div>
    <div class="post-box">
        <img src="/public/images/Economic Development.svg" alt="">
        <h2 class="post-title">Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
       
        <span class="post-date">21 feb 2019</span>
        <p class="post-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, commodi corrupti optio possimus odit reiciendis rem distinctio tempora blanditiis reprehenderit id quae aut? Repudiandae adipisci aliquam, non unde tempora velit.</p>
       
        <button class="read-more-button"> <a href="/views/readmore.html">
            read more
        </a></button>
       
    </div>
    <div class="post-box">
        <img src="/public/images/gallary/impact5.jfif" alt="">
        <h2 class="post-title">Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
       
        <span class="post-date">21 feb 2019</span>
        <p class="post-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, commodi corrupti optio possimus odit reiciendis rem distinctio tempora blanditiis reprehenderit id quae aut? Repudiandae adipisci aliquam, non unde tempora velit.</p>
       
        <button class="read-more-button"> <a href="/views/readmore.html">
            read more
        </a></button>
    </div>
   
</section>
<footer>
    <div id="workWithUs">
      <h1>work with us</h1>
      <a href="/views/fundrising.html">Fundraising</a>
      <a href="/views/sponsor-us.html">sponsor</a>
      <a href="/views/involveIn.html">Involve in</a>
    </div>
    <div id="contactUs">
      <h1>Contact us</h1>
      
  <a href="mailto:your.email@example.com\"><i class="fa fa-envelope">Email us</i></a>
  
  <a href="tel:+123456789\"><i class="fa fa-phone"> Call us</i></a>
  
  <a href="https://www.facebook.com/YourPage/" target="_blank\"><i class="fa fa-facebook"> Follow us on facebook</i></a>
  
  <a href="https://twitter.com/YourPage/" target="_blank"><i class="fa fa-twitter"> Follow Us on Twitter</i></a>
  
    </div>
    <div id="newsletter">
      <form action="">
        <label for="email">Subscribe to our Newsletter</label>
        <input type="email" id="email" placeholder="Enter your email">
        <button type="submit">Subscribe</button>
    
      </form>
    </div>
  </footer>

    <script src="/public/js/navbar.js"></script>
</body>
</html>