<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Blog</title>
    <link rel="stylesheet" href="/public/css/blog.css">
</head>
<body>
<section class="post post-container">
    <div class="post-box">
        <img src="images/experience-min.jpg" alt="">
        <h2 class="post-title">Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
       
        <span class="post-date">21 feb 2019</span>
        <p class="post-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, commodi corrupti optio possimus odit reiciendis rem distinctio tempora blanditiis reprehenderit id quae aut? Repudiandae adipisci aliquam, non unde tempora velit.</p>
       
        <button class="read-more-button"> <a href="post-page.html"">
            Read More
        </a></button>
        <div class="profile">
            <img src="images/Faith Icon_0.svg" alt="" >
            <span class="profile-name">Getch</span>
        </div> 
    </div>
    <div class="post-box">
        <img src="images/experience-min.jpg" alt="">
        <h2 class="post-title">Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
       
        <span class="post-date">21 feb 2019</span>
        <p class="post-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, commodi corrupti optio possimus odit reiciendis rem distinctio tempora blanditiis reprehenderit id quae aut? Repudiandae adipisci aliquam, non unde tempora velit.</p>
        <button class="read-more-button"> <a href="post-page.html"">
            read more
        </a></button>
        <div class="profile">
            <img src="images/Faith Icon_0.svg" alt="" >
            <span class="profile-name">Getch</span>
        </div> 
    </div>
    <div class="post-box">
        <img src="images/experience-min.jpg" alt="">
        <h2 class="post-title">Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
       
        <span class="post-date">21 feb 2019</span>
        <p class="post-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, commodi corrupti optio possimus odit reiciendis rem distinctio tempora blanditiis reprehenderit id quae aut? Repudiandae adipisci aliquam, non unde tempora velit.</p>
       
        <button class="read-more-button"> <a href="post-page.html"">
            read more
        </a></button>
        <div class="profile">
            <img src="images/Faith Icon_0.svg" alt="" >
            <span class="profile-name">Getch</span>
        </div> 
    </div>
    <div class="post-box">
        <img src="images/experience-min.jpg" alt="">
        <h2 class="post-title">Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
       
        <span class="post-date">21 feb 2019</span>
        <p class="post-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, commodi corrupti optio possimus odit reiciendis rem distinctio tempora blanditiis reprehenderit id quae aut? Repudiandae adipisci aliquam, non unde tempora velit.</p>
       
        <button class="read-more-button"> <a href="post-page.html"">
            read more
        </a></button>
        <div class="profile">
            <img src="images/Faith Icon_0.svg" alt="" >
            <span class="profile-name">Getch</span>
        </div> 
    </div>
    <div class="post-box">
        <img src="images/experience-min.jpg" alt="">
        <h2 class="post-title">Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
       
        <span class="post-date">21 feb 2019</span>
        <p class="post-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, commodi corrupti optio possimus odit reiciendis rem distinctio tempora blanditiis reprehenderit id quae aut? Repudiandae adipisci aliquam, non unde tempora velit.</p>
       
        <button class="read-more-button"> <a href="post-page.html"">
            read more
        </a></button>
        <div class="profile">
            <img src="images/Faith Icon_0.svg" alt="" >
            <span class="profile-name">Getch</span>
        </div> 
    </div>
   
</section>


    <script src="blog.js"></script>
</body>
</html>