<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/donate.css">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
  <iframe src="navBar.html" frameborder="0" scrolling="no" width="100%" height="100vh"></iframe>
    <div class="donate-container">
        <h1>Donate to our Cause</h1>
        <p>No donation is too small, and every little bit helps. We appreciate your support and commitment to making a positive impact in our community. Together, we can create lasting change and make a difference in the lives of those we serve.</p>
         <form action="" method="post">
            <div id="DonateAmount">
                <span>$</span>
                <input type="number" placeholder="Enter amount ">
            </div>
              <div id="donateRadios">
                <input type="radio" name="donateRadio" id="donateRadio">
                <label for="donateRadio">Give Once</label>
                <input type="radio" name="donateRadio" id="donateRadio">
                <label for="donateRadio">Give Monthly</label>
              </div>
             
              <button id="donateButton" type="submit">Give Now</button>
         </form>
      </div>
      <script src="app.js"></script>
</body>
</html>