<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gallary page</title>
    <link rel="stylesheet" href="/public/css/gallary.css">
    <link rel="stylesheet" href="/public/css/navBarAndFotter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
    <div id="banner">
        <button id="Donete" onclick="location.href='/views/donete.html';" >Donate</button>
          <nav id="myNav">
            <div class="logo">
              <a href="#"><img class="logoImage" src="/public/images/logo2-removebg.png" alt=""></a>
             </div>
            <div class="menu">
              <ul>
                <li class="nav-list active"><a href="../index.html">Home</a></li>
                <li class="nav-list"><a href="/views/about.html">About</a></li>
                <li class="nav-list"><a href="/views/gallary.html">Gallary</a></li>
                <li class="nav-list"><a href="/views/blog.html">Our Blog</a></li>
                <li class="nav-list"><a href="/views/involveIn.html">Get Involved</a></li>
                <li class="nav-list"><a href="/views/#newsletter">Contact</a></li>
              </ul>
            </div>
          </nav>
          <div id="description">
          </div>
        </div>
    <section>
        <ul>
            <li class="list active" data-filter="All">All</li>
            <li class="list" data-filter="Events">Events</li>
            <li class="list" data-filter="Program impact">Program impact</li>
            <li class="list" data-filter="donnor appriciation">Donnor appriciation</li>
            <li class="list" data-filter="staff and volenter">staff and volenter</li>
        </ul>
        <div class="type">
            <div class="item-box" data-item="Events"><img src="/public/images/gallary/event1.jpg" alt=""></div>
            <div class="item-box" data-item="Events"><img src="/public/images/gallary/event2.jfif" alt=""></div>
            <div class="item-box" data-item="Events"><img src="/public/images/gallary/event3.jfif" alt=""></div>
            <div class="item-box" data-item="Events"><img src="/public/images/gallary/event4.jfif" alt=""></div>
            <div class="item-box" data-item="Events"><img src="/public/images/gallary/event5.jfif" alt=""></div>
        
            <div class="item-box" data-item="Program impact"><img src="/public//images/pic1.jpg" alt=""></div>
            <div class="item-box" data-item="donnor appriciation"><img src="/public//images/wallpaperflare.com_wallpaper.jpg"
                    alt=""></div>
            <div class="item-box" data-item="staff and volenter"><img src="/public//images/Disaster Management Icon.svg" alt="">
            </div>

        </div>

    </section>
    
 <footer>
    <div id="workWithUs">
      <h1>work with us</h1>
      <a href="/views/fundrising.html">Fundraising</a>
      <a href="/views/sponsor-us.html">sponsor</a>
      <a href="/views/involveIn.html">Involve in</a>
    </div>
    <div id="contactUs">
      <h1>Contact us</h1>
      
  <a href="mailto:your.email@example.com\"><i class="fa fa-envelope">Email us</i></a>
  
  <a href="tel:+123456789\"><i class="fa fa-phone"> Call us</i></a>
  
  <a href="https://www.facebook.com/YourPage/" target="_blank\"><i class="fa fa-facebook"> Follow us on facebook</i></a>
  
  <a href="https://twitter.com/YourPage/" target="_blank"><i class="fa fa-twitter"> Follow Us on Twitter</i></a>
  
    </div>
    <div id="newsletter">
      <form action="">
        <label for="email">Subscribe to our Newsletter</label>
        <input type="email" id="email" placeholder="Enter your email">
        <button type="submit">Subscribe</button>
    
      </form>
    </div>
  </footer>
    <script src="/public/js/gallary.js"></script>
    <script src="/public/js/navbar.js"></script>
</body>

</html>