<nav id="myNav">
    <div class="logo">
      <a href="#"><img class="logoImage" src="images/orange-g8a403be8d_640.png" alt=""></a>
    </div>
    <div class="menu">
      <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Our</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Programs</a></li>
        <li><a href="#">Get Involved</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </nav>

<style>
nav {
    display: flex;
    position:absolute;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #ffbb0000;
    transition: 1s;
    padding: 10px 0;
  }
  .sticky{
    background-color: #221b02;
    color: #ffffff;
    position: fixed;
    z-index: 999;
    top: 0;
    width:100%
  }
  .doanteButton{
   
    position: fixed;
    transform: translate(-88vw,300px);
    z-index: 999;
    background-image: url("images/donate.svg");
    background-size:contain;
    border: none;
    color: #ffffff00;
    background-repeat: no-repeat;
    text-indent: -9999px;
    }

 

  .logo img{
    height:40px;
    width:40px;
  }
  .logo a {
    font-size: 24px;
    font-weight: bold;
  }
  
  .menu ul {
    list-style: none;
    margin: 0 50PX;
    padding: 0;
    display: flex;
  }
  
  .menu li {
    margin: 0 10px;
  
  }
  .menu a {
    color: #050404;
    text-decoration: none;
    font-size: 16px;
    
  }
  .menu a:hover {
    color: #ffba00;
    
    
  }

</style>
  