<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/sponsorUs.css">
    <link rel="stylesheet" href="/public/css/navBarAndFotter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>sponsor us</title>
</head>
<body>
  <div id="banner">
    <button id="Donete" onclick="location.href='/views/donete.html';" >Donate</button>
      <nav id="myNav">
        <div class="logo">
          <a href="#"><img class="logoImage" src="/public/images/logo2-removebg.png" alt=""></a>
         </div>
        <div class="menu">
          <ul>
            <li class="nav-list active"><a href="../index.html">Home</a></li>
            <li class="nav-list"><a href="/views/about.html">About</a></li>
            <li class="nav-list"><a href="/views/gallary.html">Gallary</a></li>
            <li class="nav-list"><a href="/views/blog.html">Our Blog</a></li>
            <li class="nav-list"><a href="/views/involveIn.html">Get Involved</a></li>
            <li class="nav-list"><a href="/views/#newsletter">Contact</a></li>
          </ul>
        </div>
      </nav>
      <div id="description">
      </div>
    </div>
    <br><br><br>

  

  <section>
    <p>Are you passionate about making a positive impact in our organization? Do you believe in the power of education, nutrition, health, and other important causes for children? If so, we have an exciting sponsorship opportunity for many sponsors like you! We invite individuals and teams to join us in our mission to create a better future for children by supporting causes that truly matter. By collaborating with us, you will have the chance to make a wide-ranging and impactful difference in
     the lives of children and their families.</p>    
  </section>

  <section>
    <h2>Sponsorship Levels</h2>
    <p>Describe the different sponsorship levels and their benefits.</p>
    <ul class="pricing-list">
      <li class="pricing-card">
        <h3>Platinum Sponsorship</h3>
        <img src="/public/images/platinum.jpg" alt="Platinum Sponsorship">
        <p>Benefits:</p>
        <ul>
          <li>Recognition as a Platinum Sponsor on our website and promotional materials</li>
          <li>Logo placement in event signage and materials</li>
          <li>Exclusive partnership opportunities and joint marketing campaigns</li>
          <li>Invitations to special events and gala dinners</li>
         
        </ul>
        <button>Choose</button>
      </li>
      <li class="pricing-card">
        <h3>Gold Sponsorship</h3>
        <img src="/public/images/gold.jpg" alt="Gold Sponsorship">
        <p>Benefits:</p>
        <ul>
          <li>Recognition as a Gold Sponsor on our website and promotional materials</li>
          <li>Logo placement in event signage and materials</li>
          <li>Opportunity to participate in volunteer programs and community events</li>
          <li>Customized corporate social responsibility initiatives</li>
          
        </ul>
        <button>Choose</button>
      </li>
      <li class="pricing-card">
        <h3>Silver Sponsorship</h3>
        <img src="/public/images/silver.jpg" alt="Silver Sponsorship">
        <p>Benefits:</p>
        <ul>
          <li>Recognition as a Silver Sponsor on our website and promotional materials</li>
          <li>Logo placement in event signage and materials</li>
          <li>Opportunity to collaborate on health-focused initiatives</li>
          <li>Special mentions in our healthcare awareness campaigns</li>
          <!-- Add more benefits specific to Silver Sponsorship -->
        </ul>
        <button>Choose</button>
      </li>
    </ul>
    <!-- Add more details about each sponsorship level -->
  </section>
  <footer>
    <div id="workWithUs">
      <h1>work with us</h1>
      <a href="/views/fundrising.html">Fundraising</a>
      <a href="/views/sponsor-us.html">sponsor</a>
      <a href="/views/involveIn.html">Involve in</a>
    </div>
    <div id="contactUs">
      <h1>Contact us</h1>
      
  <a href="mailto:your.email@example.com\"><i class="fa fa-envelope">Email us</i></a>
  
  <a href="tel:+123456789\"><i class="fa fa-phone"> Call us</i></a>
  
  <a href="https://www.facebook.com/YourPage/" target="_blank\"><i class="fa fa-facebook"> Follow us on facebook</i></a>
  
  <a href="https://twitter.com/YourPage/" target="_blank"><i class="fa fa-twitter"> Follow Us on Twitter</i></a>
  
    </div>
    <div id="newsletter">
      <form action="">
        <label for="email">Subscribe to our Newsletter</label>
        <input type="email" id="email" placeholder="Enter your email">
        <button type="submit">Subscribe</button>
    
      </form>
    </div>
  </footer>
  <script src="/public/js/navbar.js"></script>



</body>
</html>