
#Donete{
    background-color: #ffbb0000;
    width: 100px;
    height: 40px;
    color: #ffffff;
    border-radius: 10px;
    border: #ffba00 1px solid;
    transition: transform 1s ease-in-out;
    margin-bottom: 10px;
    margin-top: 10PX;
    margin-left: 90%; 
   
}
nav {
    display: flex;
    position:absolute;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #ffbb0000;
    transition: 1s;
    padding: 10px 0;
  }
  .sticky{
    background-color: #333333;
    color: #ffffff;
    position: fixed;
    z-index: 999;
    top: 0;
    width:100%
  }
  .doanteButton{
   
    position: fixed;
    transform: translate(-88vw,300px);
    z-index: 999;
    background-image: url("/public/images/donate.svg");
    background-size:contain;
    border: none;
    color: #ffffff00;
    background-repeat: no-repeat;
    text-indent: -9999px;
    }

 
    .logo{
      margin-left: 20px;
    }
  .logo img{
    height:40px;
    width:40px;
  }
  .logo a {
    font-size: 24px;
    font-weight: bold;
  }
  
  .menu ul {
    list-style: none;
    margin: 0 50PX;
    padding: 0;
    display: flex;
  }
  
  .menu li {
    margin: 0 10px;
    padding: 3px;
  
  }
  .menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    
  }
  .nav-list.active a {
    background-color: #ffba00; /* Change the color for active links */
    color: #000000 !important;
    padding: 10px 20px;
    border-radius: 3px; 
  }
  
  /* .menu li.active{
    
  } */
 
  .menu a:hover {
    color: #ffba00;
    
    
  }
  
  /* Styles for the page footer */
  footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* Example column sizes */
    grid-template-rows: auto; /* Example row sizes */
    gap: 10px; /* Example gap between grid items */
    background-color: #222;
    color: #fff;
    padding: 20px;
    margin-top: 50px;
  }
  footer div{
    background-color: #ffbb0000;
    border-right-style: solid 5px white;
    width: 50%;
    height: 100%;
  }
  #contactUs a ,#workWithUs a{
    display: block;
    margin-left: 1%;
    padding: 10px;
    
  }
#newsletter{
  border-left: #ffba00 0.3px solid;
}
#newsletter form{
  margin: 20%  10%;
}

a {
    color: #fff;
    text-decoration: none;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="email"], button[type="submit"] {
    background-color: #fff;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    background-color:#ffba00;
    color: #fff;
    cursor: pointer;
}
@media (max-width: 768px) {
  footer {
    grid-template-columns: 1fr; /* Single column layout for small screens */
    grid-template-rows: auto; /* Automatically adjust row sizes */
    justify-items: center;
  }
  #newsletter{
    border-left: none;
  }
  #newsletter ,#contactUs ,#workWithUs{
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 768px) {
  #myNav{
    display: block;
  }
  .logo{
    margin-left: 50%;
  }
  .menu{
    width: 100%;
  }
  .logoImage{
   height: 500px;
  }
}






