*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.post-container{
    width: 70%;
    margin: 0 auto;
}


.post-box{
    
    border-radius: 10px ;
    box-shadow: 0px 4px 15px hsl(355deg 25% 15% / 10%);
    padding: 10px;
    
}
img{
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
    margin: 1.5rem auto;
 }
.post-title{
    margin: 10px auto;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
   
}
.post-description{
    font-size: 0.8rem;
    line-height: 1.5rem;
    margin: 6px 0 10px;
}
.read-more-button{
    margin: 20px 0px 30px;
    background-color:  #ffba00 ;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0px 8px 15px hsl(355deg 25% 15% / 10%);

    border: #e2af23 1px solid;
}
.read-more-button a{
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: larger;

}
.share-header{
    text-align: center;
    margin: 47px;
}
.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile img{
    width: 40px;
}